@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Atkinson Hyperlegible Next", serif;
    user-select: none;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #7c7c7c;
    box-sizing: border-box;
    border: 10px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
}


.title, .bottom {
    opacity: 0.9;
    background-color: #e8dfd1;
    border: 4px #d8b800 solid;
}

.title {
    width: 85%;
    min-height: 4%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.bottom {
    width: 85%;
    min-height: 25%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.bottom p {
    margin: 6px;
    text-align: center;
}

.type{
    border: 3px #d8b800 solid;
    width: 80%;
    margin-bottom: 15px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

@media only screen and (max-width: 1000px) {
    main {
      border: none;
      box-sizing: content-box;
    }

    .title, .bottom {
        width: 100%;
        background-color: #e8dfd1;
        border-top: 4px #d8b800 solid;
        border-bottom: 4px #d8b800 solid;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .type {
        font-size: 1.3rem;
    }

    .bottom {
        font-size: 1.1rem;
    }
    
    .title {
        font-size: 1.5rem;
    }

  }