@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Atkinson Hyperlegible Next", serif;
    user-select: none;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #7c7c7c;
    box-sizing: border-box;
    border: 10px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
}


.title, .bottom {
    opacity: 0.9;
    background-color: #e8dfd1;
    border: 4px #d8b800 solid;
}

.title {
    width: 85%;
    min-height: 4%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.bottom {
    width: 85%;
    min-height: 30%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.type{
    border: 3px #d8b800 solid;
    width: 80%;
    margin-bottom: 15px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

